<header>
  <div class="dd-main">

    <ul>

      <li>
        <a href="#" >
          {{title}}
        </a>
      </li>

      {{#each keyMessages}}
          <li>
            <a href="#" data-key-message="{{key_message}}" class="btn-external">
              {{description}}
            </a>
          </li>
      {{/each}}
    </ul>
    <img class="triangle" src="global/images/triangle.svg" width="16" height="16" />
  </div>


  <div class="refs-popup-btn-container">
    <a href="#" class="refs-btn" ><img src="global/images/refs.svg" width="32" height="32" /></a>
  </div>

</header>
